name: ci build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: setup zig
        uses: mlugg/setup-zig@v1.2.1
        with:
          version: 0.14.0-dev.2362+a47aa9dd9
      - name: get dependencies (linux)
        uses: Eeems-Org/apt-cache-action@cbc42fbdfaab42353b24a0e537464fb0d543456a
        if: matrix.os == 'ubuntu-latest'
        with:
          packages: libgtk-3-0 libgtk-3-dev libatk1.0-0 libatk1.0-dev libgdk-pixbuf-2.0-0 libgdk-pixbuf-2.0-dev
      - name: build
        run: zig build -Dgit_commit=${{ github.sha }} -Dversion=${{ github.ref_name }} --release=safe
      - name: run executable (unix)
        if: matrix.os != 'windows-latest'
        run: ./zig-out/bin/levent --version
      - name: run executable (windows)
        if: matrix.os == 'windows-latest'
        run: ./zig-out/bin/levent.exe --version
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: ./zig-out/bin/*

  nightly:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: artifacts
      - name: update nightly release
        uses: andelf/nightly-release@46e2d5f80828ecc5c2c3c819eb31186a7cf2156c
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: nightly
          name: 'nightly release $$'
          draft: false
          prerelease: true
          body: |
            nightly release for levent
          files: |
            ./artifacts/*

